<h6 class="fst-italic">
  by {% assign authors = page.authors | map: 'name' %} {% assign authors_slug =
  page.authors | map: 'name-slug' %} {% assign authors_count = authors | size %}
  {% assign authors_count_minus1 = authors_count | minus: 1 %} {% assign
  authors_count_minus2 = authors_count | minus: 2 %} {% if authors_count == 1 %}

  <a
    href="{{ site.url }}{{ site.baseurl }}/profiles/{{
      authors_slug[0]
    }}/{{ authors_slug[0] }}.html"
    >{{ authors[0] }}</a
  >
  {% elsif authors_count == 2 %}
  <a
    href="{{ site.url }}{{ site.baseurl }}/profiles/{{
      authors_slug[0]
    }}/{{ authors_slug[0] }}.html"
    >{{ authors[0] }}</a
  >
  and
  <a
    href="{{ site.url }}{{ site.baseurl }}/profiles/{{
      authors_slug[1]
    }}/{{ authors_slug[1] }}.html"
    >{{ authors[1] }}</a
  >
  {% else %} {% for i in (0..authors_count_minus2) %}
  <a
    href="{{ site.url }}{{ site.baseurl }}/profiles/{{
      authors_slug[i]
    }}/{{ authors_slug[i] }}.html"
    >{{ authors[i] }}</a
  >
  , {% endfor %} and
  <a
    href="{{ site.url }}{{ site.baseurl }}/profiles/{{
      authors_slug[authors_count_minus1]
    }}/{{ authors_slug[authors_count_minus1] }}.html"
    >{{ authors[authors_count_minus1] }}</a
  >
  {% endif %}
</h6>
