<div class="container my-5">
  {% assign collection_name = page.title | downcase %}
  {{ collection_name }}
  {% assign collection = site[collection_name] %}
  <!-- buttons for filtering cards -->
  <button
    type="button"
    class="btn btn-outline-primary tag-button active"
    data-tag="all">
    All
  </button>

  {% assign tags = collection | map: 'tags' | join: ',' | split: ',' | uniq 
   | sort %}
  {% for tag in tags %}
    {% assign tagSlug = tag | slugify %}
    <button
      type="button"
      class="btn btn-outline-primary tag-button"
      data-tag="{{ tagSlug }}">
      {{ tag }}
    </button>
  {% endfor %}
</div>
<div class="row  row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-5">
  {% for item in collection} limit: 12 %}
    <div class="col {{collection_name}} item {% for tag in item.tags %}{{ tag | slugify }} {% endfor %}">
      <div class="card" style="margin: 8px">
        <div class="card-header">{{ item.content-type }}</div>
        <a href="{{ item.url | relative_url}}">
          {% assign file_name = item.url | split: '/' | last | split: '.' | first %}
          <img
            src="{{site.baseurl}}/{{ collection_name }}/{{ file_name }}/{{file_name}}.jpg"
            class="card-img-top"
            alt="Portrait of {{ item.name }}" />
        </a>
        <div class="card-body">
          <h5 class="card-title fw-bolder">
            {{ item.name }}
          </h5>
          <h6 class="car-subtitle mb-2 text-muted">{{ item.location }}</h6>
          <p class="card-text text-small">{{ item.role }}</p>
          <p>
            Interests:
            {% for tag in item.tags %}
              <a href="{{site.url}}{{site.baseurl}}/resources?tag={{ tag | slugify }}">{{ tag }}</a>
              {% unless forloop.last %},
              {% endunless %}
            {% endfor %}
          </p>
          <a href="{{ item.url | relative_url}}" class="btn btn-primary">
            Full Bio
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<script>
  const tagButtons = document.querySelectorAll(".tag-button");
  const itemElements = document.querySelectorAll(".item");

  tagButtons.forEach((button) => {
    button.addEventListener("click", (event) => {
      const clickedTag = event.target.dataset.tag;

      itemElements.forEach((item) => {
        const tags = item.classList;

        if (clickedTag === "all" || tags.contains(clickedTag)) {
          item.style.display = "";
        } else {
          item.style.display = "none";
        }
      });

      tagButtons.forEach((button) => {
        button.classList.remove("active");
      });

      event.target.classList.add("active");
    });
  });
</script>