<!-- my code -->
<div class="container my-5 filter-buttons">
  {% assign collection_name = page.title | downcase %} {% assign collection =
  site[collection_name] %}
  <div class="all-button">
    <button
      type="button"
      class="btn btn-outline-primary category-button active"
      data-tag="all"
      id="all-tag-button"
    >
      All
    </button>
  </div>
  <div class="filter-title">Categories</div>
  <!-- buttons for filtering cards by categories -->
  <div class="filter-buttons-categories">
    {% assign categories = collection | map: 'categories' | join: ',' | split:
    ',' | uniq | sort %} {% for category in categories %} {% assign categorySlug
    = category | slugify %}
    <button
      type="button"
      class="btn btn-outline-primary tag-button"
      data-tag="{{ categorySlug }}"
    >
      {{ category }}
    </button>
    {% endfor %}
  </div>

  <!-- buttons for filtering cards by tags -->
  <div class="filter-title">Tags</div>

  <div class="fitler-buttons-tags">
    {% assign tags = collection | map: 'tags' | join: ',' | split: ',' | uniq |
    sort %} {% for tag in tags %} {% assign tagSlug = tag | slugify %}
    <button
      type="button"
      class="btn btn-outline-primary tag-button"
      data-tag="{{ tagSlug }}"
    >
      {{ tag }}
    </button>
    {% endfor %}
  </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-4 my-5">
  {% for item in collection limit: 20 %}
  <div
    class="col item {% for tag in item.tags %}{{ tag | slugify }} {% endfor %} {% for category in item.categories %}{{ category | slugify }} {% endfor %}"
  >
    <div class="card h-100" style="margin: 8px">
      <div class="card-header">{{ item.content-type }}</div>
      <a href="{{ item.url | relative_url}}">
        {% assign file_name = item.url | split: '/' | last | split: '.' | first
        %}
        <img
          src="{{site.baseurl}}/{{ collection_name }}/{{ file_name }}/{{file_name}}.jpg"
          class="card-img-top"
          alt="{{ item.main_image_alt}}"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title fw-bolder">
          {{ item.title }}{% if item.subtitle %}:{% endif %}
        </h5>
        <h6 class="car-subtitle mb-2 text-muted">{{ item.subtitle }}</h6>
        {% include author-links-card.html %}
        <p>
          Tags: {% for tag in item.tags %} {% assign ideaExists = false %} {%
          for idea in site.ideas %} {% if idea.title == tag %} {% assign
          ideaExists = true %}
          <a href="{{ site.baseurl }}/ideas#{{ tag | slugify }}">{{ tag }}</a>
          {% break %} {% endif %} {% endfor %} {% unless ideaExists %} {{ tag }}
          {% endunless %} {% unless forloop.last %}, {% endunless %} {% endfor
          %}
        </p>
        <p class="card-text text-small">
          {{ item.abstract.short | truncatewords: 75, '...' }}
        </p>
        <a href="{{ item.url | relative_url}}" class="btn btn-primary">
          Got to post!
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  const tagButtons = document.querySelectorAll(".tag-button");
  const itemElements = document.querySelectorAll(".item");
  const allButton = document.querySelector("#all-tag-button");

  tagButtons.forEach((button) => {
    button.addEventListener("click", (event) => {
      const clickedTag = event.target.dataset.tag;

      // Toggle the active state of the clicked button
      event.target.classList.toggle("active");

      // Clear the "All" button if any other button is selected
      if (button !== allButton) {
        allButton.classList.remove("active");
      }

      // Create an array of active tags
      const activeTags = [];
      tagButtons.forEach((button) => {
        if (button.classList.contains("active")) {
          activeTags.push(button.dataset.tag);
        }
      });

      itemElements.forEach((item) => {
        const tags = item.classList;

        // If no tags are active, show all items
        if (activeTags.length === 0) {
          item.style.display = "";
          return;
        }

        // Check if item contains all of the active tags
        const hasActiveTags = activeTags.every((tag) => tags.contains(tag));

        if (hasActiveTags) {
          item.style.display = "";
        } else {
          item.style.display = "none";
        }
      });
    });
  });

  // Clear all active tags and show all items when the "All" button is clicked
  allButton.addEventListener("click", () => {
    tagButtons.forEach((button) => {
      button.classList.remove("active");
    });
    allButton.classList.add("active");
    itemElements.forEach((item) => {
      item.style.display = "";
    });
  });
</script>
