<nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/index"
      >Architecture Beyond Capitalism Hub</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/profiles"
            >Community</a
          >
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/blog"
            >Blog</a
          >
        </li>
        -->

        <li>
          <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/ideas"
            >Glossary</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            href="{{ site.url }}{{ site.baseurl }}/submissions-overview"
            >Submissions</a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            ABC Schools
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href="https://abc.architecture-lobby.org/"
                target="_blank"
                >ABC School 2023 (Upcoming)</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://abc.architecture-lobby.org/architecture-beyond-capitalism-2022"
                target="_blank"
                >ABC School 2022</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://abc.architecture-lobby.org/architecture-beyond-capitalism-2021"
                target="_blank"
                >ABC School 2021</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/about"
            >About</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
