<nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/index"
      >Architecture Beyond Capitalism</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/profiles"
            >Community Profiles</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/resources"
            >Resources</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/blog"
            >Blog</a
          >
        </li>
        <li>
          <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/ideas"
            >Ideas</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Submission Process
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href="{{ site.url }}{{ site.baseurl }}/submissions-overview"
                >Process Overview (Start Here)</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ site.url }}{{ site.baseurl }}/markdown-instructions"
                >Learning Markdown</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ site.url }}{{ site.baseurl }}/submissions-profile"
                >Member Profile</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ site.url }}{{ site.baseurl }}/submissions-resource"
                >Community Resource</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ site.url }}{{ site.baseurl }}/submissions-post"
                >Blog Post</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ site.url }}{{ site.baseurl }}/submissions-ideas"
                >Ideas</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Convenings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href="https://abc.architecture-lobby.org/"
                target="_blank"
                >ABC School 2023 (Upcoming)</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://abc.architecture-lobby.org/architecture-beyond-capitalism-2022"
                target="_blank"
                >ABC School 2022</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://abc.architecture-lobby.org/architecture-beyond-capitalism-2021"
                target="_blank"
                >ABC School 2021</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">List of all convenings</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            About
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href="{{ site.url }}{{ site.baseurl }}/about"
                >About Us</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ site.url }}{{ site.baseurl }}/mission"
                >Mission</a
              >
            </li>
            <li><a class="dropdown-item" href="#">Bibliography</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
