---
---

@import "bootstrap/bootstrap";
@import "base";

.social-media-icon {
  height: 50px;
  width: 50px;
}

ul#results-container {
  padding: 0;
  list-style-type: none;
}

#results-container li {
  margin-bottom: 1.5rem;
}

span.post-meta {
  font-size: 1rem;
}

#navbar_top {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
}

.nav-link.active {
  color: red;
}

pre {
  background-color: #000000;
}

code {
  display: block;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#markdown-code {
  color: white;
}
