---
layout: default
---

<div class="container my-5">
  {% assign collection_name = page.title | downcase %} {{ collection_name }} {%
  assign collection = site[collection_name] %}
  <!-- buttons for filtering cards -->
  <button
    type="button"
    class="btn btn-outline-primary tag-button active"
    data-tag="all"
  >
    All
  </button>

  {% assign tags = collection | map: 'tags' | join: ',' | split: ',' | uniq |
  sort %} {% for tag in tags %} {% assign tagSlug = tag | slugify %}
  <button
    type="button"
    class="btn btn-outline-primary tag-button"
    data-tag="{{ tagSlug }}"
  >
    {{ tag }}
  </button>
  {% endfor %}
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-5">
  {% for item in collection} limit: 12 %}
  <div
    class="col item {% for tag in item.tags %}{{ tag | slugify }} {% endfor %}"
  >
    <div class="card" style="margin: 8px">
      <div class="card-header">{{ item.content-type }}</div>
      <a href="{{ item.url | relative_url}}">
        {% assign file_name = item.url | split: '/' | last | split: '.' | first
        %}
        <img
          src="{{site.baseurl}}/assets/images/{{ file_name }}/main.jpg"
          class="card-img-top"
          alt="{{ item.main_image_alt}}"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title fw-bolder">
          {{ item.title }}{% if item.subtitle %}:{% endif %}
        </h5>
        <h6 class="car-subtitle mb-2 text-muted">{{ item.subtitle }}</h6>
        <h6 class="fst-italic">
          by {% assign authors = item.authors | map: 'name' %} {% assign
          authors_count = authors | size %} {% assign authors_count_minus1 =
          authors_count | minus: 1 %} {% assign authors_count_minus2 =
          authors_count | minus: 2 %} {% if authors_count == 1 %} {{ authors[0]
          }} {% elsif authors_count == 2 %} {{ authors[0] }} and {{ authors[1]
          }} {% else %} {% for i in (0..authors_count_minus2) %} {{ authors[i]
          }} , {% endfor %} and {{ authors[authors_count_minus1] }} {% endif %}
        </h6>
        <p class="card-text text-small">{{ item.abstract.short }}</p>
        {% if item.learning-outcomes %} {% assign outcomes =
        item.learning-outcomes %}
        <h4>
          <button
            class="btn btn-light btn-sm"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-{{ item.title | slugify }}"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            Learning Outcomes
          </button>
        </h4>
        <div
          id="collapse-{{ item.title | slugify }}"
          class="collapse"
          data-bs-parent=".card"
        >
          <ul class="list-group list-group-flush">
            {% for outcome in outcomes %}
            <li class="list-group-item text-small text-muted">{{ outcome }}</li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <p class="lst-italic text-muted">No learning outcomes provided.</p>
        {% endif %}
        <p>
          Tags: {% for tag in item.tags %}
          <a href="{{site.url}}{{site.baseurl}}/ideas/{{ tag | slugify }}"
            >{{ tag }}</a
          >
          {% unless forloop.last %}, {% endunless %} {% endfor %}
        </p>
        <a href="{{ item.url | relative_url}}" class="btn btn-primary">
          Learn More!
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  const tagButtons = document.querySelectorAll(".tag-button");
  const itemElements = document.querySelectorAll(".item");

  tagButtons.forEach((button) => {
    button.addEventListener("click", (event) => {
      const clickedTag = event.target.dataset.tag;

      itemElements.forEach((item) => {
        const tags = item.classList;

        if (clickedTag === "all" || tags.contains(clickedTag)) {
          item.style.display = "";
        } else {
          item.style.display = "none";
        }
      });

      tagButtons.forEach((button) => {
        button.classList.remove("active");
      });

      event.target.classList.add("active");
    });
  });
</script>
