---
layout: page
---

<div class="container">
  <div class="col-md-6">
    <div class="profile-image">
      <img
        src="{{site.baseurl}}/{{ page.name-slug }}/{{ file_name }}/{{file_name}}.jpg"
        class="card-img-top"
        alt="Portrait of {{ page.name }}"
      />
    </div>
  </div>

  <h1>{{ page.name }}</h1>
</div>
{% for affiliation in page.affiliations %}

<h6>
  {% for title in affiliation.titles %} {{ title }} - {% endfor %} {{
  affiliation.name }} {% if affiliation.location %} ; {{ affiliation.location }}
  {% endif %}
</h6>

{% endfor %}
<div class="container">{{ content }}</div>

<a href="{{ site.url }}{{ site.baseurl }}/profiles.html"
  >Back to community profiles</a
>
{% include social.html %}
