---
layout: page
---

<div class="container content-title">
  <div class="row mb-4">
    <img
      src="{{site.baseurl}}/{{ page.collection }}/{{ page.title-slug }}/{{ page.title-slug }}.jpg"
      class="page-img-top mb-3 mt-4"
      alt="{{ page.main_image_alt }}"
    />
    <h2>{{ page.title }}:</h2>
    <h3 style="font-weight: lighter">{{ page.subtitle }}</h3>
    {% include author-links-page.html %}
    <p>
      <strong>Tags: </strong>{% for tag in page.tags %} {% assign ideaExists =
      false %} {% for idea in site.ideas %} {% if idea.title == tag %} {% assign
      ideaExists = true %}
      <a href="{{ site.baseurl }}/ideas#{{ tag | slugify }}">{{ tag }}</a>
      {% break %} {% endif %} {% endfor %} {% unless ideaExists %} {{ tag }} {%
      endunless %} {% unless forloop.last %}, {% endunless %} {% endfor %}
    </p>
    <h4 class="mt-4">Abstract</h4>
    {% if page.abstract.long %}
    <p class="mb-4">{{ page.abstract.long }}</p>
    {% else %}
    <p class="mb-4">{{ page.abstract.short }}</p>
    {% endif %} {% if page.learning-outcomes %} {% assign outcomes =
    page.learning-outcomes %}
    <h4>Learning Outcomes</h4>
    <div>
      <ul class="list-group list-group-flush">
        {% for outcome in outcomes %}
        <li class="list-group-item text-small text-muted">{{ outcome }}</li>
        {% endfor %}
      </ul>
    </div>
    {% else %}
    <p class="lst-italic text-muted">No learning outcomes provided.</p>
    {% endif %}
  </div>
</div>

<div class="container content">
  <div class="row mb-4">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <article>
        <div>
          <!-- Blog post content here -->
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</div>

<div class="relatedResource">
  <h4>You May Also Enjoy</h4>

  {% assign maxRelated = 4 %} {% assign minCommonTags = 2 %} {% assign
  maxRelatedCounter = 0 %} {% for resource in site.resources %} {% assign
  sameTagCount = 0 %} {% assign commonTags = '' %} {% for tag in resource.tags
  %} {% if resource.url != page.url %} {% if page.tags contains tag %} {% assign
  sameTagCount = sameTagCount | plus: 1 %} {% capture tagmarkup %}
  <span class="label label-default">{{ tag }}</span>
  {% endcapture %} {% assign commonTags = commonTags | append: tagmarkup %} {%
  endif %} {% endif %} {% endfor %} {% if sameTagCount >= minCommonTags %}

  <div>
    <ul>
      <li>
        <a href="{{ site.baseurl }}{{ resource.url }}">{{ resource.title }}</a>
      </li>
    </ul>
  </div>
  {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %} {% if
  maxRelatedCounter >= maxRelated %} {% break %} {% endif %} {% endif %} {%
  endfor %}

  <a href="{{ site.url }}{{ site.baseurl }}/index.html"
    >Back to all resources</a
  >
</div>
