---
layout: page
---

<div class="container">
  <h2>{{ page.title }}:
    <span>{{ page.subtitle }}</span>
  </h2>
  <h6 class="fst-italic">
    by
    {% assign authors = page.authors | map: 'name' %}
    {% assign authors_count = authors | size %}
    {% assign authors_count_minus1 = authors_count | minus: 1 %}
    {% assign authors_count_minus2 = authors_count | minus: 2 %}
    {% if authors_count == 1 %}
      {{ authors[0] }}
    {% elsif authors_count == 2 %}
      {{ authors[0] }} and {{ authors[1] }}
    {% else %}
      {% for i in (0..authors_count_minus2) %}
        {{ authors[i] }}
        ,
      {% endfor %}
      and {{ authors[authors_count_minus1] }}
    {% endif %}
  </h6>
</div>

<div class="container">{{ content }}</div>

<a href="{{ site.url }}{{ site.baseurl }}/resources.html">Back to all resources</a>


<div class="relatedResource">

  <h4>You May Also Enjoy</h4>

  {% assign maxRelated = 4 %}
  {% assign minCommonTags = 2 %}
  {% assign maxRelatedCounter = 0 %}

  {% for resource in site.resources %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in resource.tags %}
      {% if resource.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %}
            <span class="label label-default">{{ tag }}</span>
          {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}


      <div>
        <h5>
          <a href="{{ site.baseurl }}{{ resource.url }}">{{ resource.title }}</a>
        </h5>
      </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}

</div>